
includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
  level: 5
  paths:
    - app
    - bootstrap
    - config
    - database
    - routes
    - tests

  excludePaths:
    - vendor/**
    - storage/**
    - node_modules/**

  checkMissingCallableSignature: false

  ignoreErrors:
    # Ignore Laravel magic false positives
    - '#Call to an undefined static method App\\Models\\.*#'
    - '#Access to an undefined property App\\Models\\.*#'